<%= form_with(model: reserf, local: true) do |form| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Booking_id %>
    <%= form.text_field :Booking_id, id: :reserf_Booking_id %>
  </div>

  <div class="field">
    <%= form.label :Location_id %>
    <%= form.text_field :Location_id, id: :reserf_Location_id %>
  </div>

  <div class="field">
    <%= form.label :Room_id %>
    <%= form.text_field :Room_id, id: :reserf_Room_id %>
  </div>

  <div class="field">
    <%= form.label :Guest_id %>
    <%= form.text_field :Guest_id, id: :reserf_Guest_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
