<%= form_with(model: guest, local: true) do |form| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :guest_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :guest_password %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :guest_name %>
  </div>

  <div class="field">
    <%= form.label :phoneNum %>
    <%= form.text_field :phoneNum, id: :guest_phoneNum %>
  </div>

  <div class="field">
    <%= form.label :creditCardNum %>
    <%= form.text_field :creditCardNum, id: :guest_creditCardNum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
