<%= form_with(model: facility, local: true) do |form| %>
  <% if facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :facility_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :facility_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :facility_price %>
  </div>

  <div class="field">
    <%= form.label :Location_id %>
    <%= form.text_field :Location_id, id: :facility_Location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
