<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @facility.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @facility.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @facility.Location %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
