<% provide(:title, "Create Booking") %>
<h1>Create new booking</h1>

<%= link_to 'Back', "/guestportal/#{@guestId}" %>


<% if @error %>
  <p style="color:red">No rooms available</p>
<% end %>

<%= form_tag findrooms_path do %>

  <h2>Find Available Rooms</h2>

  <%= label_tag :roomNum, "show Room Number" %>
  <%= check_box_tag :roomNum, checked = true %>

  <%= label_tag :amenities, "show amenities" %>
  <%= check_box_tag :amenities, checked = true %>

  <%= label_tag :showLocationName, "show Location Name" %>
  <%= check_box_tag :showLocationName, checked = true %>

  <%= label_tag :locationAddress, "show Location Address" %>
  <%= check_box_tag :locationAddress, checked = true %>

  <p id="notice"><%= alert %></p>

  <%= label_tag :guestId, "Guest Id" %>
  <%= text_field_tag :guestId, @guestId, :readonly => true %>
  <%= label_tag :locationName, "Location Name" %>
  <%= select_tag :locationName, options_for_select(@locations) %>
  <%= label_tag :inDate, "In Date" %>
  <%= date_select :inDate, nil%>
  <%= label_tag :outDate, "Out Date" %>
  <%= date_select :outDate, nil%>
  <br>
  <br>
  <%= submit_tag "Find Rooms" %>
<% end %>

<p id="notice"><%= notice.html_safe unless notice.blank? %></p>

<%= form_tag createbooking_path do %>

  <h2>Book Available Rooms</h2>

  <%= label_tag :guestId, "Guest Id" %>
  <%= text_field_tag :guestId, @guestId, :readonly => true %>
  <%= label_tag :locationName, "Location Name" %>
  <%= select_tag :locationName, options_for_select(@locations) %>
  <%= label_tag :inDate, "In Date" %>
  <%= date_select :inDate, nil%>
  <%= label_tag :outDate, "Out Date" %>
  <%= date_select :outDate, nil%>
  <%= label_tag :numOfGuests, "Number of guests" %>
  <%= text_field_tag :numOfGuests %>
  <%= label_tag :roomNum, "Room Number" %>
  <%= text_field_tag :roomNum %>
  <br>
  <br>
  <%= submit_tag "Make booking" %>
<% end %>